<ion-toolbar>
    <ion-title style="padding: 10px; color: #fff; font-weight: bold;">
        Weather Forecast
    </ion-title>
</ion-toolbar>


<ion-content>
    <ion-card *ngFor="let day of listDataOfDate">
        <ion-card-header>
            <P style="color: #fff; font-weight: bold; margin: 0px;">{{ day.dt_txt
                }}</P>
        </ion-card-header>
        <ion-card-content>
            <p style="color: #fff; font-weight: bold;">Temperature:
                <span style="font-size: 30px;">{{ day.main.temp}}°C</span>
            </p>
            <p style="color: #fff; font-weight: bold;">Description: {{ day.weather[0].description }}</p>
        </ion-card-content>
    </ion-card>
</ion-content>